:root {
    
    --text-color: #e1e1e1;
    --highlight-color: rgba(255, 255, 255, 0.1); /* Highlight background color */
    --accent-color: #ff748b; /* Accent color for cool text effects */
}

html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
    filter: brightness(50%);
}

.navbar {
    border-radius: 15px;
    margin-top: 10px;
    margin-right: 10px;
    right: 0;
    top: 0;
    position: fixed;
    background-color: #333;
}

.top-right-nav {
    position: fixed;
    top: 10px;
    right: 10px;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    animation: float 3s ease-in-out infinite;
    z-index: 1000;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.navbar-nav {
    position: relative;
    display: flex;
    align-items: center;
}

.nav-link {
    position: relative;
    display: inline-block;
    transition: color 0.3s ease;
    padding: 10px 15px;
    color: var(--text-color);
}

.nav-link::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 100%;
    background: var(--highlight-color);
    border-radius: 10px;
    z-index: -1;
    transition: width 0.3s ease, left 0.3s ease;
}

.nav-link:hover::before,
.nav-link:focus::before {
    width: 100%;
    left: 50%;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--text-color);
}

.hero-section {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    overflow: hidden;
}

.hero-content {
    position: relative;
    z-index: 1;
}

.container {
    padding: 50px 0;
    background-color: transparent;
}

footer {
    background-color: #222;
    padding: 5px 0; /* Reduced padding to shift text upwards */
    text-align: center;
    border-top: 2px solid var(--accent-color); /* Add a border at the top */
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.3); /* Add a shadow for depth */
    background: linear-gradient(90deg, #222, #333); /* Add a subtle gradient */
    color: var(--text-color); /* Ensure the text color is consistent */
}

.fixed-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    height: 40px; /* Set a fixed height for a thinner footer */
    line-height: 30px; /* Reduced line height to align text higher */
    font-size: 0.9rem;
    text-transform: uppercase; /* Make the text uppercase for a sleek look */
    letter-spacing: 1px; /* Add some spacing between letters */
}

.profile-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    padding: 20px;
    background-color: rgba(41, 30, 30, 0.5);
}

.profile-image {
    max-width: 50%;
    height: auto;
    border-radius: 15px;
}

.profile-bg {
    max-width: 50%;
    height: auto;
    border-radius: 15px;
}

.profile-section .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.profile-section .StuffIDo {
    max-width: 50%;
}

.profile-section .AboutMe {
    max-width: 50%;
    text-align: right;
    margin-left: auto;
}

.profile-section h2 {
    font-size: 2.5rem;
    color: var(--accent-color);
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.profile-section p,
.profile-section ul {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.profile-section ul {
    list-style-type: none;
    padding: 0;
}

.profile-section ul li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
}

.profile-section ul li::before {
    content: '★';
    position: absolute;
    left: 0;
    color: var(--accent-color);
    font-size: 1.5rem;
}

#section1 .profile-image {
    position: absolute;
    bottom: 20px;
    left: 20px;
    height: auto;
    border-radius: 15px;
}

#tokyo-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: blur(8px);
}

#tokyo-bg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#scroll-indicator {
    position: absolute;
    bottom: 70px; /* Adjust this value to move the indicator higher or lower */
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    color: var(--accent-color);
    animation: bounce 1.5s infinite;
    z-index: 2;
    opacity: 1;
    transition: opacity 0.3s ease; /* Smooth fade-out effect */
}

@keyframes bounce {
    0%, 100% {
        transform: translate(-50%, 0);
    }
    50% {
        transform: translate(-50%, 10px);
    }
}

/* Middle Navbar Styling */
.middle-navbar {
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 0; /* Aligns the navbar to the top */
    left: 0; /* Aligns the navbar to the left */
    transform: translate(0, 0); /* Remove previous centering transformation */
    z-index: 1000; /* Ensure it stays above other elements */
    width: 50%;
}

.middle-navbar .nav-link {
    color: #ffffff;
    padding: 10px 15px;
}

.middle-navbar .nav-link:hover {
    color: #ffd700;
}

.middle-navbar .navbar-toggler-icon {
    filter: invert(1);
}

.middle-navbar .navbar-collapse {
    justify-content: start; /* Aligns the navigation items to the left */
}
/* Slider Styling */
.small-slider-container {
    width: 600px; /* Adjust this value to make the container smaller */
    margin: 10px auto 0 auto; /* Add margin at the top to move it down */
}
.slider-for, .slider-nav {
    margin-bottom: 20px;
}

.slider-nav img {
    width: 70%;
    border-radius: 10px;
    display: block; /* Ensure the image is treated as a block-level element */
    margin: 0 auto; /* Center the image horizontally */
}
.slider-for img {
    max-width: 450px;
    border-radius: 10px;
    display: block; /* Ensure the image is treated as a block-level element */
    margin: 0 auto; /* Center the image horizontally */
}

.slider-nav .slick-slide {
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.slider-nav .slick-current {
    opacity: 1;
}

/* Slider Arrows Styling */
.slick-prev, .slick-next {
    font-size: 0; /* Hide default arrow text */
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--accent-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.slick-prev:hover, .slick-next:hover {
    background-color: var(--highlight-color);
}

.slick-prev {
    left: 10px;
}

.slick-next {
    right: 10px;
}

/* Custom Arrow Icons */
.slick-prev::before, .slick-next::before {
    content: '';
    display: inline-block;
    border-style: solid;
    border-width: 0 2px 2px 0;
    padding: 5px;
    transform: rotate(45deg);
    color: var(--text-color);
}

.slick-prev::before {
    transform: rotate(135deg);
}

.slick-next::before {
    transform: rotate(-45deg);
}

/* Custom style for the slideshow toggle button in the middle navbar */
#slideshowToggleBtn {
    background-color: #ffffff; /* White background */
    color: #000000; /* Black text color */
    border: 2px solid #ffffff; /* White border */
    border-radius: 5px; /* Rounded corners */
    padding: 5px 15px; /* Padding for the button */
    margin-left: auto; /* Align it to the right in the navbar */
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease; /* Smooth transitions */
}

#slideshowToggleBtn:hover {
    background-color: #000000; /* Black background on hover */
    color: #ffffff; /* White text color on hover */
    transform: scale(1.05); /* Slightly enlarge on hover */
}

.dropdown-menu.dropdown-menu-left {
    right: auto;
    left: 0;
    transform: translateX(-50%);
}

.video-section {
    padding: 40px 0;
    background-color: var(--background-color);
}

.video-title {
    margin-top: 15px;
    color: var(--text-color);
    text-align: center;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}

.video-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}