.navbar {
    background-color: #333; /* Slightly transparent background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Shadow for floating effect */
    width: 550px; /* Fixed width */
    display: inline-block; /* Align the navbar content */
    margin-left: auto;
    padding: 1rem; /* Padding around the entire navbar */
}

body {
    overflow: hidden; /* Hide scrollbars */
}

/* Allow scrolling */
body {
    scrollbar-width: none; /* Firefox */
}

/* Allow scrolling */
body::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
}

body {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    overflow: hidden; /* Hide scrollbars */
}

.top-right-nav {
    position: fixed;
    top: 140px;
    right: 10px;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    animation: float 3s ease-in-out infinite;
    z-index: 1000;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.navbar-nav {
    position: relative;
    display: flex;
    align-items: center;
}

.nav-link {
    position: relative;
    display: inline-block;
    transition: color 0.3s ease;
    padding: 10px 15px;
    color: var(--text-color);
}

.nav-link::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 100%;
    background: var(--highlight-color);
    border-radius: 10px;
    z-index: -1;
    transition: width 0.3s ease, left 0.3s ease;
}

.nav-link:hover::before,
.nav-link:focus::before {
    width: 100%;
    left: 50%;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--text-color);
}

.rounded-image {
    width: 100%; /* Adjust width as needed */
    max-width: 500px;
    height: auto;
    overflow: hidden;
    z-index: 1000;
    position: fixed;
    top: 20px;
    right: 20px;
    border-radius: 15px;
    animation: float 3s ease-in-out infinite;
    z-index: 1000;
}

.rounded-image img {
    width: 100%;
    height: auto;
    display: block;
}

.dropdown-menu.dropdown-menu-left {
    right: auto;
    left: 0;
    transform: translateX(-40%);
}
