:root {
    --background-color: #121212;
    --text-color: #e1e1e1;
    --highlight-color: rgba(255, 255, 255, 0.1); /* Highlight background color */
    --accent-color: #ff748b; /* Accent color for cool text effects */
}

html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(50%); /* Adjust the brightness to make text readable */
}

.navbar {
    border-radius: 15px; /* Rounded corners for the navbar */
    background-color: #333; /* Slightly transparent background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Shadow for floating effect */
    width: 700px; /* Fixed width */
    display: inline-block; /* Align the navbar content */
    margin-left: auto;
    padding: 1rem; /* Padding around the entire navbar */
}

.top-right-nav {
    position: fixed;
    top: 10px; /* Gap from the top */
    right: 10px; /* Gap from the right */
    border-radius: 15px;
    padding: 0.5rem 1rem; /* Padding around content */
    animation: float 2s ease-in-out infinite; /* Floating animation */
    z-index: 1000; /* Ensure it's above other content */
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

.navbar-nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.4rem; /* Padding inside the navbar-nav container */
}

.nav-link {
    position: relative;
    display: inline-block;
    transition: color 0.3s ease;
    padding: 10px 20px; /* Increased padding for better text spacing */
    color: var(--text-color);
}

.nav-link::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 100%;
    background: var(--highlight-color);
    border-radius: 10px;
    z-index: -1; /* Place it behind the text */
    transition: width 0.3s ease, left 0.3s ease;
}

.nav-link:hover::before,
.nav-link:focus::before {
    width: 100%;
    left: 50%;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color); /* Change link color on hover */
}

.nav-highlight {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background: var(--accent-color);
    transition: all 0.3s ease;
}